@using Aforum.Models.User
@model List<UserSignupModel>

@{
    ViewData["Title"] = "Index Page";
}

<div class="container mt-5">
    @if (Model.Count > 0)
    {
        @foreach (var feedback in Model)
        {
            <div class="card mb-3  text-white" style="border-radius: 20px; background: #4879ad;">
                <div class="card-body">
                    <h5 class="card-title">@feedback.Login</h5>
                    <p class="card-text"><strong>Moment:</strong> @feedback.moment</p>
                    <p class="card-text"><strong>Email:</strong> @feedback.Email</p>
                    <p class="card-text"><strong>Real Name:</strong> @feedback.RealName</p>
                    <p class="card-text"><strong>Password:</strong> @feedback.Password</p>
                    <p class="card-text"><strong>Repeat Password:</strong> @feedback.RepeatPassword</p>
                    <p class="card-text"><strong>Agree:</strong> @feedback.Agree</p>
                    <p class="card-text"><strong>ID:</strong> @feedback.id</p>
                    <p class="card-text"><strong>Partition Key:</strong> @feedback.partitionKey</p>
                    <img src="/uploads/@feedback.AvatarFileName" alt="Ava" class="rounded-circle" style="max-width: 40px; margin-right: 10px;" />
                    <strong>AvatarFileName:</strong> @feedback.AvatarFileName
                    <p class="card-text">
                         @foreach (var topic in @feedback.Topics)
                        {

                           <strong>Назва теми:</strong> @topic.Title<br />
                           
                        }
                    </p>
                </div>
            </div>
        }
    }
</div>











